@font-face {
    font-family: Konstruktor;
    src: url('fonts/KonstruktorRegular.eot') format('embedded-opentype');
    src: url('fonts/KonstruktorRegular.woff2') format('woff2');
    src: url('fonts/KonstruktorRegular.woff') format('woff');
    src: url('fonts/KonstruktorRegular.ttf') format('truetype');
    src: url('fonts/KonstruktorRegular.svg') format('svg');
    font-weight: 700;
}
