@font-face {
    font-family: Konstruktor;
    src: url('fonts/KonstruktorRegular.eot') format('embedded-opentype');
    src: url('fonts/KonstruktorRegular.woff2') format('woff2');
    src: url('fonts/KonstruktorRegular.woff') format('woff');
    src: url('fonts/KonstruktorRegular.ttf') format('truetype');
    src: url('fonts/KonstruktorRegular.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
  background-image: url("../img/brown-paper-background.jpg");
  background-color:beige;
}

.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10vmin; 
    color: #fff;
    margin-bottom: -25vw;
    padding: 10px 10px 10px 10px;
    width: 100vw;
}

.welcome-box {
    background-color: #a11;
    color: #fff;
    padding: 10vh;

}

.group::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.attribution {
  position: absolute;
  bottom 0;
  left: 0;
  z-index: 10;
}

/* Code for the diagram of a globe */

/*
.globe {
    --globe-color: #333;
    --globe-padding: -
    position: relative;
    margin: auto;
    display: block;
    width: 300px;
    height: 300px;
  }

  .globe-exterior {
    background: #333;
    top: 10%;
    left: 25%;
    width: 300px;
    height: 300px;
    border-radius: 100% 100% 100% 100%;
  }
  .globe-interior {
    background: white;
    padding-top: -250px;
    width: 250px;
    height: 250px;
    border-radius: 100% 100% 100% 100%;
  }

  */