@font-face {
    font-family: Konstruktor;
    src: url('fonts/KonstruktorRegular.eot') format('embedded-opentype');
    src: url('fonts/KonstruktorRegular.woff2') format('woff2');
    src: url('fonts/KonstruktorRegular.woff') format('woff');
    src: url('fonts/KonstruktorRegular.ttf') format('truetype');
    src: url('fonts/KonstruktorRegular.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #fff;
    margin-bottom: -80px;
    padding: 10px 10px 10px 10px;
}

.welcome-box {
    background-color: #a11;
    color: #fff;
    padding: 100px;
}

